{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <h3>Каталоги продуктов:</h3>
    <ul>
        {% for catalog in object_list %}
        <li><a href="{% url 'products:products' catalog.id %}">{{ catalog }}
<!--            <img class="calalog" src="{% static 'img/ball.png' %}" alt="альтернативный текст">-->
            </a>
        </li>
        {% empty %}
        <li>No catalogs have been added yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}

