{% extends "base.html" %}


{% block content %}
<p>Каталог</p>

<div class="row justify-content-center">

     {% for product in object_list %}

    <div>
          <h4 class="text-center">{{ product.name }}</h4>
          <img class="picture" src="{{ product.image }}" alt="#" style="border-radius: 40px; width: 200px; height: 300px">
          <h3>{{ product.price }} ₽</h3>
          <p>{{ product.description }}</p>
          {% if user.is_authenticated %}

          <form method="POST" action="{% url 'products:basket' %}">
              {% csrf_token %}
              <input type="hidden" value="{{ product.id }}" name="product_id"/>
              <input type="hidden" value="{{ product.name }}" name="product_name"/>

              <a href="{% url 'products:basket_add' product.id %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Добавить в корзину</a>
          </form>
          {% endif %}
        </div>

     {% empty %}

    <div>No products have been added yet.</div>
     {% endfor %}

 </div>
     {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_previous %} {% url 'products:paginator' page_obj.previous_page_number %} {% else %} # {% endif %}"
                                   tabindex="-1" aria-disabled="true">
                                    Предыдущая
                                </a>
                            </li>
                            {% for page in paginator.page_range %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'products:paginator' page %}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_next %} {% url 'products:paginator' page_obj.next_page_number %} {% else %} # {% endif %}">
                                    Следующая
                                </a>
                            </li>
                        </ul>
                    </nav>
    {% endif %}




















{% endblock content %}