{% extends "base.html" %}

{% block content %}
<main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Авторизация</h3>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'users:login' %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                 <button name="submit" class="btn btn-warning">Авторизоваться</button>
                                <input type="hidden" name="next" value="{% url 'products:main_page' %}" />
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small"><a href="{% url 'users:register' %}">Нужен аккаунт?
                                Зарегистрируйся!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}